/* Clone button style */

input[type=submit].clone, input.clone, a.button.clone {
  color: #7e2999;
  background-color: #EAEAEA;
  background-image: linear-gradient(to bottom, #f9f9f9, #EAEAEA);
  background-repeat: repeat-x;
  border-color: #dfdfdf #dfdfdf #C5C5C5;
}
input[type=submit].clone:hover, input.clone:hover, a.button.clone:hover, input[type=submit].clone:focus, input.clone:focus, a.button.clone:focus {
  color: #FFFFFF;
  background-color: #7e2999;
  background-image: linear-gradient(to bottom, #b456d2, #7e2999);
  background-repeat: repeat-x;
  border-color: #9f34c1;
}
